@*@model MyHotelWebApp.Models.Customer

    @{
        ViewBag.Title = "Details";
    }

    <h2>Details</h2>

    <div>
        <h4>Customer</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CustomerName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustomerDob)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerDob)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerEmail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustomerPhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerPhone)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@




@model MyHotelWebApp.Models.Customer

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }

        #title {
            color: #007BFF;
            text-align: center;
        }

        aside {
            border: none;
            box-shadow: 0 0 10px rgba(0,0,0,0.15);
        }

        table {
            width: 100%;
        }

        th {
            text-align: left;
        }

        button {
            background-color: #007BFF;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        img {
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
    <h1 id="title">
        <img src="~/Content/Pics/User.jpg" class="rounded-circle mx-auto d-block" alt="User" style="width: 100px; height: 100px;" />
        Details
    </h1>

    <div>
        <h4>Customer</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CustomerName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustomerDob)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerDob)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerEmail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustomerPhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerPhone)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-Primary" })
    </p>
</body>
</html>
